@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  height: 200vh;
  background: #120723;
}


.inset {
  position: absolute;
  inset: 0;
}
.white {
  color: white;
}
.gray {
  color: #446;
}

.full {
  height: 100vh;
}

.center {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}


.gradient {
  background: linear-gradient(rgba(45, 10, 86, 0.547) 50%, #120723);
}

h1{
  font-size: 120px;
  color: #f3f4f6;
}

h2{
  font-size: 50px;
  font-weight: 700;
  color: #f3f4f6;
}

h3{
  font-size: 42px;
  font-weight: 700;
  color: #f3f4f6;
}

h4{
  font-size: 34px;
  font-weight: 700;
  color: #f3f4f6;
}

h5{
  font-size: 24px;
  font-weight: 700;
  color: #f3f4f6;
}

h6{
  font-size: 20px;
  font-weight: 700;
  color: #f3f4f6;
}

p{
  line-height: 24px;
  font-size: 16px;
  color: #f3f4f6;
}

.glassmorphone {
  @apply bg-white bg-opacity-5 shadow-xl border-[2px] border-white border-opacity-10 backdrop-filter backdrop-blur-lg
}

.glassmorphtwo {
  @apply bg-white bg-opacity-5 shadow-xl border-[2px] rounded-2xl border-white border-opacity-10 backdrop-filter backdrop-blur-lg
}

.glassicon {
  @apply bg-white bg-opacity-[6%] shadow-xl border-[2px] border-l-0 border-white border-opacity-10 backdrop-filter backdrop-blur-lg
}

.glasshead {
  @apply bg-white bg-opacity-[6%] shadow-xl border-b-[2px] border-white border-opacity-10 backdrop-filter backdrop-blur-lg
}
